In [1]:
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import psycopg2
from config import db_password
import time

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\judyc\anaconda3\envs\pythondata2\lib\site-packages (2.8.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
file_dir = 'C:/Users/judyc/OneDrive/Desktop/Class/'

In [4]:
with open(f'{file_dir}/wikipedia.movies.json', mode = 'r') as file:
    wiki_movies_raw = json.load(file)

In [5]:
kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}/ratings.csv')

In [6]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [7]:
wiki_movies = [movie for movie in wiki_movies_raw
              if ('Director' in movie or 'Directed by' in movie
                 and 'imdb_link' in movie
                 and 'No. of episodes' not in movie)]

In [8]:
#new cleaned up iteration 2 wiki_movie DataFrame
wiki_movies_df = pd.DataFrame(wiki_movies)

## This is the function to keep for clean_movie

In [9]:
#This is the one to keep

def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles
    #merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie [new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')
     
    
    return movie

In [10]:
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [11]:
wiki_movies_df = pd.DataFrame(clean_movies)
#sorted(wiki_movies_df.columns.tolist())

In [12]:
#wiki_movies_df.head()

In [13]:
#final removal of duplicate imdb ids and compare data loss
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
#wiki_movies_df.head()

7076
7033

In [14]:
wiki_movies_df['Narrated by'].isnull().sum()

6752

In [15]:
#getting the number of null values in each column at the same time
#[[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]

In [16]:
#trim down to only columns with less than 90% null values
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df)*0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [17]:
#wiki_movies_df.head()

In [18]:
#wiki_movies_df.dtypes

In [19]:
box_office = wiki_movies_df['Box office'].dropna()

In [20]:
def is_not_a_string(x):
    return type(x) != str

In [21]:
#using the customized function is_not_a_string
box_office[box_office.map(is_not_a_string)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [22]:
#using the lambda function inside map
#box_office[box_office.map(lambda x: type(x)!=str)]

In [23]:
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) ==list else x)

In [24]:
#box_office

In [25]:
form_one =r'\$\d+\.?\d*\s*[mb]illion'
form_two = r'\$\d{1,3}(,\d{3})+'

In [26]:
#box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

In [27]:
#box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

In [28]:
#create boolean series to see which values are described by either form one or form two
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)

C:\Users\judyc\Anaconda3\envs\PythonData2\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [29]:
box_office[~matches_form_one & ~matches_form_two]

34                         US$ 4,212,828
79                              $335.000
110                   $4.35-4.37 million
130                        US$ 4,803,039
600                           $5000 (US)
731                         $ 11,146,270
957                             $ 50,004
1070                          35,254,617
1147    $ 407,618 (U.S.) (sub-total) [1]
1446                        $ 11,829,959
1480                          £3 million
1611                            $520.000
1865                        ¥1.1 billion
2032                                 N/A
2091                                $309
2130               US$ 171.8 million [9]
2257                   US$ 3,395,581 [1]
2263            $ 1,223,034 ( domestic )
2347                            $282.175
2638            $ 104,883 (US sub-total)
2665         926,423 admissions (France)
2697      $ 1.7 million (US) (sub-total)
2823                            $414.000
2924                            $621.000
3088           $32 [2] –33.1 million [1]
3631                                 TBA
3859                  $38.9–40.3 million
3879            CN¥3.650 million (China)
4116                          £7,385,434
4123                            $161.000
4261                  $20.7–23.9 million
4306                              $20-30
4492                        $47.7 millon
4561             $45.2k (only in Turkey)
4662                USD$ 8.2 million [2]
5362                   $ 142 million [3]
5447                               £2.56
5784                            413 733$
6013                             Unknown
6145                  $17.5–18.4 million
6234                  $41.8–41.9 million
6369                               $111k
6370                                $588
6593                      less than $372
6829                    $ 41 million [3]
6843                             8 crore
6904                         $6.9 millon
Name: Box office, dtype: object

In [30]:
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [31]:
box_office.str.extract(f'({form_one}|{form_two})')

                  0     1
0     $21.4 million   NaN
1      $2.7 million   NaN
2       $57,718,089  ,089
3        $7,331,647  ,647
4        $6,939,946  ,946
...             ...   ...
7070  $19.4 million   NaN
7071  $41.9 million   NaN
7072  $76.1 million   NaN
7073  $38.4 million   NaN
7074   $5.5 million   NaN

[5485 rows x 2 columns]

In [32]:
def parse_dollars(s):
    #if s is not a strong, return NaN
    if type(s)!= str:
        return np.nan
    
    #if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s,flags=re.IGNORECASE):
        
        #remove dollar sign and "million"
        s=re.sub('\$|\s|[a-zA-Z]','',s)
        
        #convert to float and muliply by a million
        value = float(s) *10**6
        
        #return value
        return value
        
        
    #if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s,flags=re.IGNORECASE):
        
        #remove dollar sign and "billion"
        s=re.sub('\$|\s|[a-zA-Z]','',s)
        
        #convert to float and multiply by a billion
        value = float(s) *10**9
        
        #return value
        return value
    
    #if input of the form $###,###,###
    elif re.match(r'\$\d{1,3}(,\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):
        
        #remove dollar sign and commas
        s=re.sub('\$|,','', s)  
        
        #convert to float
        value= float(s)
        
        #return value
        
        return value
    
    #otherwise, return NaN
    
    else:
        
        return np.nan

In [33]:
#creates the new box_office column
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [34]:
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [35]:
#using value counts with head() to ascertain how values look in the new column
#wiki_movies_df['box_office'].value_counts().head()

In [36]:
#wiki_movies_df.head()

In [37]:
#wiki_movies_df['Budget'].value_counts().head()

In [38]:
#Now let's create a budget variable
budget = wiki_movies_df['Budget'].dropna()

In [39]:
#convert lists to strings using lambda function
budget = budget.map(lambda x: ' '.join (x) if type(x) == list else x)

In [40]:
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [41]:
#might be able to delete the second instance of the regex
form_one =r'\$\d+\.?\d*\s*[mb]illion'

In [42]:
#might be able to delect second instance
form_two = r'\$\d{1,3}(,\d{3})+'

In [43]:
matches_form_one =budget.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two =budget.str.contains(form_two, flags=re.IGNORECASE)
budget[~matches_form_one & ~matches_form_two]

135                  USD$ 9 million
136                         Unknown
204     60 million Norwegian Kroner
255                        $ 80,000
351              US$ 65 million [1]
                   ...
6821                  £12.9 million
6843                      3.5 crore
6895                        919,000
6904                    $8.6 millon
7070                   €4.3 million
Name: Budget, Length: 76, dtype: object

In [44]:
budget = budget.str.replace(r'\[\d+\]\s*', ' ')
budget[~matches_form_one & ~matches_form_two]

135                  USD$ 9 million
136                         Unknown
204     60 million Norwegian Kroner
255                        $ 80,000
351                US$ 65 million
                   ...
6821                  £12.9 million
6843                      3.5 crore
6895                        919,000
6904                    $8.6 millon
7070                   €4.3 million
Name: Budget, Length: 76, dtype: object

In [45]:
len(budget)

4738

In [46]:
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [47]:
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [48]:
#wiki_movies_df.head()

In [49]:
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type == list else x )

## Check this out for problems during Tuesday TA

In [50]:
#here is where I started to have an issue ended up looking like too many NaN values
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [51]:
release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

                      0
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4     December 19, 1990
...                 ...
7071                NaN
7072                NaN
7073                NaN
7074                NaN
7075                NaN

[7001 rows x 1 columns]

In [52]:
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0],infer_datetime_format=True)

In [53]:
wiki_movies_df.drop('Release date', axis=1, inplace=True)

In [54]:
#parse running time
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [55]:
len(running_time)

6894

In [56]:
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE).sum()

6528

In [57]:
running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE) != True]

9                                                 102 min
26                                                 93 min
28                                                32 min.
34                                                101 min
35                                                 97 min
                              ...
6500       114 minutes [1] 120 minutes (extended edition)
6643                                             104 mins
6709    90 minutes (theatrical) [1] 91 minutes (unrate...
7057    108 minutes (Original cut) 98 minutes (UK cut)...
7075                Variable; 90 minutes for default path
Name: Running time, Length: 366, dtype: object

In [58]:
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE).sum()

6877

In [59]:
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE) != True]

668                     UK:84 min (DVD version) US:86 min
727                         78-102 min (depending on cut)
840                       Varies (79 [3] –84 [1] minutes)
1347                                              25 : 03
1443    United States: 77 minutes Argentina: 94 minute...
1499                                            1hr 35min
1551                                               varies
1774                    Netherlands:96 min, Canada:95 min
1777                                       approx. 14 min
2273                                           1 h 43 min
2993                                               1h 48m
3925                                              4 hours
4425    US domestic version: 86 minutes Original versi...
4967    Theatrical cut: 97 minutes Unrated cut: 107 mi...
5424                    115 [1] /123 [2] /128 [3] minutes
5447                                    1 hour 32 minutes
7075                Variable; 90 minutes for default path
Name: Running time, dtype: object

In [60]:
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

In [61]:
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [62]:
running_time_extract

        0    1      2
0     0.0  0.0  102.0
1     0.0  0.0  114.0
2     0.0  0.0  113.0
3     0.0  0.0  106.0
4     0.0  0.0   95.0
...   ...  ...    ...
7071  0.0  0.0   90.0
7072  0.0  0.0  132.0
7073  0.0  0.0  120.0
7074  0.0  0.0  123.0
7075  0.0  0.0   90.0

[6894 rows x 3 columns]

In [63]:
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [64]:
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [65]:
#wiki_movies_df.head()

In [66]:
#kaggle_metadata.dtypes

In [67]:
#kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [68]:
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult', axis='columns')

In [69]:
#kaggle_metadata['video'].value_counts()

In [70]:
kaggle_metadata['video'] == 'True'

0        False
1        False
2        False
3        False
4        False
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: video, Length: 45454, dtype: bool

In [71]:
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [72]:
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [73]:
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [74]:
#ratings.info(null_counts=True)

In [75]:
pd.to_datetime(ratings['timestamp'], unit='s')

0          2015-03-09 22:52:09
1          2015-03-09 23:07:15
2          2015-03-09 22:52:03
3          2015-03-09 22:52:26
4          2015-03-09 22:52:36
                   ...
26024284   2009-10-31 23:26:04
26024285   2009-10-31 23:33:52
26024286   2009-10-31 23:29:24
26024287   2009-11-01 00:06:30
26024288   2009-10-31 23:30:58
Name: timestamp, Length: 26024289, dtype: datetime64[ns]

In [76]:
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [77]:
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes= ['_wiki','_kaggle'])

In [78]:
#check to see the if the titles match and which is the best data
#movies_df[movies_df['title_wiki'] != movies_df['title_kaggle']][['title_wiki','title_kaggle']]

In [79]:
#check for the nulls
#movies_df[(movies_df['title_kaggle'] == ' ') | (movies_df['title_kaggle'].isnull())]

In [80]:
#movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [81]:
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [82]:
movies_df['Language'].apply(lambda x: tuple(x) if type(x)== list else x).value_counts(dropna=False)

English                                       5480
NaN                                            134
(English, Spanish)                              68
(English, French)                               35
(English, Japanese)                             25
                                              ...
(English, Māori, British Sign Language)          1
(Syriac, Aramaic, English, Italian)              1
(English, French, Mandarin Chinese, Hindi)       1
(English, German, Yiddish)                       1
(English, Georgian)                              1
Name: Language, Length: 198, dtype: int64

In [83]:
movies_df['original_language'].value_counts(dropna=False)

en    5988
fr      16
es      10
it       8
de       6
zh       4
pt       4
ja       4
hi       2
da       2
tr       1
ru       1
ko       1
cn       1
ar       1
he       1
ab       1
sv       1
Name: original_language, dtype: int64

In [84]:
#flat out drop columns that are not workable
movies_df.drop(columns=['title_wiki','release_date_wiki', 'Language','Production company(s)'], inplace=True)

In [85]:
#create a function to fill in missing data for a column pair and then drop the redundant column
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column], axis=1 )
    df.drop(columns=wiki_column, inplace=True)

In [86]:
#now run the function for the three column pairs we decided to fill in with zeroes
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
#movies_df

In [87]:
for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 1:
        print(col)

video

In [88]:
#movies_df['video'].value_counts(dropna=False)

In [89]:
movies_df.drop(columns=['video'])

,url,year,imdb_link,Based on,Starring,Cinematography,Country,Director,Distributor,Editor(s),...,production_countries,release_date_kaggle,revenue,runtime,spoken_languages,status,tagline,title_kaggle,vote_average,vote_count
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",Oliver Wood,United States,Renny Harlin,20th Century Fox,Michael Tronick,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1990-07-11,20423389.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Kojak. Columbo. Dirty Harry. Wimps.,The Adventures of Ford Fairlane,6.2,72.0
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",Mark Plummer,United States,James Foley,Avenue Pictures,Howard E. Smith,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1990-08-24,2700000.0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All they risked was everything.,"After Dark, My Sweet",6.5,17.0
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",Roger Deakins,United States,Roger Spottiswoode,TriStar Pictures,"[John Bloom, Lois Freeman-Fox]",...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1990-08-10,33461269.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The few. The proud. The totally insane.,Air America,5.3,146.0
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",Carlo Di Palma,United States,Woody Allen,Orion Pictures,Susan E. Morse,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1990-12-25,7331647.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Alice,6.3,57.0
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",Russell Boyd,US,John Cornell,Paramount Pictures,David Stiven,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1990-12-21,6939946.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who does he think he is?,Almost an Angel,5.6,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6047,https://en.wikipedia.org/wiki/A_Fantastic_Woman,2018,https://www.imdb.com/title/tt5639354/,NaN,"[Daniela Vega, Francisco Reyes]",Benjamín Echazarreta,"[Chile, Germany, Spain, United States, [2]]",Sebastián Lelio,"[Participant Media (Chile), Piffl Medien (Germ...",Soledad Salfate,...,"[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",2017-04-06,3700000.0,104.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,A Fantastic Woman,7.2,13.0
6048,https://en.wikipedia.org/wiki/Permission_(film),2018,https://www.imdb.com/title/tt5390066/,NaN,"[Rebecca Hall, Dan Stevens, Morgan Spector, Fr...",Adam Bricker,United States,Brian Crano,Good Deed Entertainment,Matt Friedman,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2017-04-22,NaN,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Permission,0.0,1.0
6049,https://en.wikipedia.org/wiki/Loveless_(film),2018,https://www.imdb.com/title/tt6304162/,NaN,"[Maryana Spivak, Aleksey Rozin, Matvey Novikov...",Mikhail Krichman,"[Russia, France, Belgium, Germany, [3]]",Andrey Zvyagintsev,"[Sony Pictures Releasing, (Russia), [1]]",Anna Mass,...,"[{'iso_3166_1': 'RU', 'name': 'Russia'}, {'iso...",2017-06-01,4800000.0,128.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Loveless,7.8,26.0
6050,https://en.wikipedia.org/wiki/Gemini_(2017_film),2018,https://www.imdb.com/title/tt5795086/,NaN,"[Lola Kirke, Zoë Kravitz, Greta Lee, Michelle ...",Andrew Reed,United States,Aaron Katz,Neon,Aaron Katz,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2017-03-12,200340.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Gemini,0.0,0.0
6051,https://en.wikipedia.org/wiki/How_to_Talk_to_G...,2018,https://www.imdb.com/title/tt3859310/,"["", How to Talk to Girls at Parties, "", by, Ne...","[Elle Fanning, Alex Sharp, Nicole Kidman, Ruth...",Frank G. DeMarco,"[United Kingdom, United States]",John Cameron Mitchell,"[A24, StudioCanal UK]",Brian A. Kates,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2017-12-27,382053.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some girls are out of this world.,How to Talk to Girls at Parties,0.0,10.0

In [90]:
movies_df = movies_df[['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [91]:
#movies_df.head()

In [92]:
movies_df.rename({'id':'kaggle_id',
                 'title_kaggle':'title',
                 'url':'wikipedia_url',
                 'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

## Transform and merge rating data

In [93]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()

In [94]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1)

In [95]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [96]:
#rating_counts

In [97]:
#rename the columns in the ratings so they are easier to understand
rating_counts.columns =['rating_' + str(col) for col in rating_counts.columns]

In [98]:
#create a new DataFrame with a left join merge of the movie and ratings data
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [99]:
movies_with_ratings_df = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [100]:
#movies_with_ratings_df

In [101]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [102]:
engine = create_engine(db_string)

In [103]:
#movies_df.to_sql(name = 'movies', con=engine, if_exists='replace')

In [104]:
#create a variable for the number of rows imported and initialize to zero
#rows_imported = 0
#get the start_time from time.time()
#start_time = time.time()
#for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):
    
    #print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    #data.to_sql(name='ratings', con=engine, if_exists='append')
    #rows_imported += len(data)
    # add elapsed time to final print out
    #print('Done.{time.time()-start_time} total seconds elapsed')